@CHARSET "UTF-8";
#log-search-main {
    border-top:3px solid #517ED6;
    border-bottom:3px solid #517ED6;
    background-color: #EEEEEE;
}

#log_search_panel form table tbody tr th {
    float:right;
}

#result {
    z-index:1;
    position:relative;
 }
 #result table thead tr th {
    background-color: #F5E77F;
}

.even-row {
    background-color: #FFFFCC;
}

.close-row {
    background-color: #AFEEEE;
}

#search-log {
    padding-top: 3px;
}
img.thumbnail {
    width: 60px;
    height: 45px;
    text-align: center;
}

img.dummy {
    width: 60px;
    height: 45px;
}

.ui-datepicker { z-index: 10000 !important; }